img{
    width: 200px;
    height:200px;
    /* ; */
    justify-content: baseline;
    position: relative;
    top: 100%;
    left: 45%;

}
img:hover{
    cursor: pointer;
   transition:all 5s;
   transform: rotate(360deg);
   transform: scale(1,3);
}